#page-header .description {
    margin-top: 0.2em;
}


@media (min-width: 68em) {
    #page-header + .tags {
        position: absolute;
        margin-top: -3.9em;
    }
}

#real-name a:first-child {
    color: inherit;
}

#real-name :last-child:focus {
    text-decoration: none;
}


main {
    margin-bottom: 0;
}

main .tags {
    font-size: x-large;
    justify-content: flex-start;
    margin: 0.3em 0 1.5em -0.3em;
}

main .tags .tag {
    padding: 0.15em 0.3em;
    margin: 0.3em;
    white-space: initial;
    color: inherit;
    opacity: revert;
}

main .tags .tag:target {
    color: green;
}

main .tags .tag:has(a):target {
    border-color: green;
    box-shadow: inset 0 0 0em 0.075em green;
}

main .tags .tag a:where(:not(:is(:hover, :focus))) {
    text-decoration: none;
}


#i-am-all-of-me {
    font-size: 4em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 37em) {
    #i-am-all-of-me {
        font-size: 10vw;
    }
}

#i-am-all-of-me a {
    text-decoration: none;
    color: inherit;
}

#i-am-all-of-me a:is(:hover, :focus) {
    text-decoration: revert;
}

#i-am-all-of-me:target {
    color: green;
}


@media (max-width: 34em) {
    #footer .back-to-top.left {
        margin-bottom: 13.1vw;
    }
}
